<%- await render("include/menu.ejs") %>

<div class="app">

	<div class="section">

		<h1>Privacy Policy</h1>

		<%- (await db.elements.findElement(_ => _.fields.title.toLowerCase() === "privacy")).fields.content %>

	</div>

</div>

<%- await render("include/footer.ejs") %>
