<%- await render("include/menu.ejs") %>

<div class="app">

	<div class="section">

		<h1>Privacy Policy</h1>

		<%- (await fetchElement("privacy")).content %>

	</div>

</div>

<%- await render("include/footer.ejs") %>
