<div class="app_component"><div class="hr bold"></div></div>

<footer>

	<img src="/img/logo_wordmark_blk.svg" alt="Private Suite Wordmark Logo">		

	<div class="items">

		<div>

			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/sections">Sections</a>
			<a href="/issues">Issues</a>

		</div>

		<div>

			<a href="/podcast">Podcast</a>
			<a href="https://www.patreon.com/privatesuitemag">Subscribe</a>
			<a href="/thanks">Special Thanks</a>
			<a href="/contact">Contact</a>

		</div>

		<div>
			
			<a href="/discover">Discover</a>
			<a href="/privacy" class="marked">Privacy Policy</a>

		</div>

	</div>

	<div class="social top right">

		<a href="https://twitter.com/PrivateSuiteMag"><img width="45" height="45" src="/img/social/twitter.svg" alt="Twitter Logo Blue" style="vertical-align: top;"></a>
		<a href="https://www.youtube.com/channel/UCZrm9UReiLcsbV_JDX4dFgA"><img width="32.5757576" height="22.7272728" src="/img/social/youtube.svg" alt="YouTube Logo Red" style="vertical-align: top; margin-top: 8.75px;"></a>
		<a href="https://discord.gg/EtDxgYG"><img width="45" height="45" src="/img/social/discord.svg" alt="Discord Logo Black"></a>

	</div>

</footer>

<script src="/js/feather.min.js"></script>
<script>

	feather.replace();
	document.getElementById("stoploadissues").remove();

</script>

