<div class="menu">

	<a href="/" class="logo"><img src="/img/logo_wordmark_blk.svg" alt="Private Suite Wordmark Logo"></a>

	<div class="items right vmiddle_bottom">
		
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/sections">Sections</a>
		<a href="/issues">Issues</a>

		<a href="/podcast">Podcast</a>
		<a href="https://www.patreon.com/privatesuitemag" style="background-color: pink; padding: 5px;">Subscribe</a>
		<a href="/contact">Contact</a>
		<a href="/discover">Discover</a>

	</div>

	<div class="opener right vmiddle_bottom" onclick="this.parentElement.classList.toggle('shown')">&#9776;</div>

</div>
